$colors-rgb: (
    black: (
        0,
        0,
        0,
    ),
    blue: (
        59,
        130,
        246,
    ),
    red: (
        220,
        38,
        38,
    ),
    green: (
        34,
        197,
        94,
    ),
    yellow: (
        234,
        179,
        8,
    ),
    pink: (
        236,
        72,
        153,
    ),
    salmon: (
        250,
        128,
        114,
    ),
    greenYellow: (
        173,
        255,
        47,
    ),
);

$levels: (
    1000: 1,
    900: 0.9,
    800: 0.8,
    600: 0.6,
    500: 0.5,
    400: 0.4,
    300: 0.3,
    200: 0.2,
    100: 0.1,
);

:root {
    @each $color-name, $rgb in $colors-rgb {
        /*------------------*/
        /*  #{$color-name}  */
        /*------------------*/
        @each $level, $opacity in $levels {
            --color-#{$color-name}-#{$level}: rgba(#{nth($rgb, 1)}, #{nth($rgb, 2)}, #{nth($rgb, 3)}, #{$opacity});
        }
    }
}
